
.background {
    background-color: rgba(14, 122, 129, 1);
    color: white;
    transition: all 1s ease;
}

.background:hover {
    background-color: #fff;
    color: black;
}

.another-background {
    background-color: #fff;
    color: black;
    transition: all 1s ease;
}

.another-background:hover {
    background-color: rgba(14, 122, 129, 1);
    color: white;
}

/* #button-container{
    display: flex;
    justify-content: center;
} */

.active {
    background-color: rgba(14, 122, 129, 0.1);
    border-radius: 100px;
    border: 1px solid rgba(14, 122, 129, 1);
}